.messageWrapper {
  box-sizing: border-box;
  margin: 20px 0 20px 0;
  background: transparent;
  display: flex;
  width: 85%;
  flex-direction: row;
}

.messageAvatar {
  margin-right: 10px;
  height: 45px;
}

.messageAvatar > div {
  width: 2.5em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.messageAvatar .messageAuthor {
  color: #616161;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.messageAvatar .messageTime {
  /* font-family: Open Sans; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* line-height: 19px; */
  color: #b7b5b5;
}

/* MESSAGE */
.message {
  background-color: #fff;
  border-radius: 0 15px 15px 15px;
  padding: 12px;
  margin-top: 2px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.messageLike {
  justify-content: flex-end;
  margin-top: auto;
  position: absolute;
  padding: 0 2px;
  bottom: -10px;
  right: 5px;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 8px;
  z-index: 1;
}
